@import "archetype/lib/css3";
@import "archetype/lib/util";

#home-header {
    position: relative;
}
#home-title {
    font-size: 5em;
    font-weight: bold;
    color: hsl(30, 30%, 70%);
    color: #ede9e4;
    @include text-outline(rgba(#d6cec1, 0.7), $delta: 1px);
    margin: 0;
    line-height: 1;
}
#home-tagline {
    margin: 0;
}
#home-lookup {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
}

.large-tiles {
    font-size: 2em;
    text-align: center;
    word-spacing: -1em;  // remove space between <li>s

    li {
        display: inline-block;
        width: 33.33%;

        word-spacing: normal;  // restore spacing

        &.-fullwidth {
            width: 100%;
        }
    }
    a {
        display: block;
        padding: 0.33em;
        margin: 0.13em;
        background: #f4f4f4;
        border-radius: 4px;
        border: 1px solid #ececec;
        text-align: left;
        text-decoration: none;
        color: #404040;
        text-shadow: 1px 1px 1px #e0e0e0;

        &:hover {
            background: hsl(225, 40%, 93%);
            border-color: hsl(225, 40%, 87%);
        }
    }
    img {
        @include pixel-scaling();
        height: 48px;
        width: 48px;
        vertical-align: -33%;
    }
}

.large-tiles.large-tiles-wider li {
    width: 50%;
}
