@import "archetype/lib/css3";

#home-header {
    position: relative;
}
#home-title {
    font-size: 5em;
    font-weight: bold;
    color: hsl(30, 30%, 70%);
    margin: 0;
    line-height: 1;
}
#home-tagline {
    margin: 0;
}
#home-lookup {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
}

.home-tiles {
    font-size: 3em;
    text-align: center;

    li {
        display: inline-block;
        width: 32%;
        margin: 0.13em 0;
    }
    a {
        display: block;
        padding: 0.33em;
        background: #f4f4f4;
        border-radius: 4px;
        border: 1px solid #ececec;
        text-align: left;
        text-decoration: none;
        color: #404040;
        text-shadow: 1px 1px 1px #e0e0e0;

        &:hover {
            background: hsl(225, 30%, 93%);
            border-color: hsl(225, 30%, 87%);
        }
    }
    img {
        @include pixel-scaling();
        height: 48px;
        width: 48px;
        vertical-align: text-bottom;
    }
}

.home-tiles-wider li {
    width: 49%;
}
