@import "archetype/defs";
@import "archetype/lib/css3";
@import "archetype/lib/util";

html {
    // This goes on html to make the rem unit work
    font-size: 16px;
}

body {
    font-family: sans-serif;
    background: url(/images/noise.png) hsl(0, 0%, 97%);
    background-image:
        url(/images/eevees-left.png),
        url(/images/eevees-right.png),
        url(/images/noise.png);
    background-repeat:
        repeat-y,
        repeat-y,
        repeat;
    background-position:
        top left,
        top right,
        top left;
}

#header {
    color: white;
    background: hsl(225, 50%, 60%);
}
#logo {
    float: left;
    position: relative;
    font-size: 1.66em;
    padding: 0;
    padding-left: 44px;  // micrologo size + breathing room
    padding-right: 0.75em;  // space for the border

    border-radius: 0 0.25em 0.1em 0 / 0 1em 0.5em 0;
    line-height: 1;
    background: url(/images/micrologo.png) bottom left no-repeat;
    font-weight: bold;
    color: hsl(225, 50%, 70%);
    @include text-outline(hsla(225, 50%, 30%, 0.5));
}
#lookup {
    float: right;
    font-size: 0.8em;
}
#nav {
    // Put the box-shadow above the subnav
    position: relative;
    z-index: 999;
    font-size: 1.33em;
    border-bottom: 1px solid hsl(225, 50%, 40%);

    box-shadow: 0 -2px 3px 3px hsla(black, 0.5);
    background: hsl(225, 50%, 50%);
    background: -moz-linear-gradient(top,
        hsl(225, 50%, 55%),
        hsl(225, 50%, 50%)
    );

    > ul.menubar {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            position: relative;
            overflow: hidden;
            vertical-align: middle;
        }
        a {
            position: relative;
            display: block;
            z-index: 1;  // above the icon
            padding: 0.33em 0.33em 0.33em 1em;
            text-decoration: none;
            color: inherit;
        }
        img {
            position: absolute;
            top: 28px;
            opacity: 0;
            pointer-events: none;

            @include transition($hover-time linear opacity, $hover-time linear top);
        }
        li:hover img {
            top: 3px;
            opacity: 0.5;
        }
    }
}

#subnav {
    position: relative;
    height: 48px;  // TODO make this all more flexibly heighted
    padding-left: 24px;  // width of eevee strip
    background: hsl(36, 20%, 90%);

    .portrait {
        .eyeball-crop {
            float: left;
        }

        // NOTE: These font sizes are in pixels to match the height of the
        // eyeball-crop, 48px
        .-desc {
            font-size: 12px;
            line-height: 16px;
        }
        .name {
            font-size: 32px;
            line-height: 48px;
            font-weight: bold;
            color: hsl(225, 30%, 40%);
        }
    }

    .prev-next {
        position: absolute;
        top: 0;
        right: 4em;
        height: 48px;  // same height as container
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            display: inline-block;
            position: relative;
            width: 11em;
            height: 100%;
            line-height: 1;
            vertical-align: bottom;
            background: hsl(36, 20%, 70%);

            a {
                display: block;
                height: 100%;
            }

            .name {
                position: absolute;
                z-index: 1;
                font-size: 1.2em;
                font-weight: bold;

                color: white;
                // TODO nice mixin here
                text-shadow:
                    0 1px 1px rgba(black, 0.5),
                    0 -1px 1px rgba(black, 0.5),
                    1px 0 1px rgba(black, 0.5),
                    -1px 0 1px rgba(black, 0.5);
                //text-shadow: 0 0 2px black;
            }

            .eyeball-crop {
                height: 100%;
                opacity: 0.4;
            }
        }

        > li.prev {
            text-align: right;

            .name {
                left: 0;
                top: 0.33em;
            }
            .wedge {
                position: absolute;
                top: 0;
                left: -24px;
                border-style: solid;
                border-width: 24px 24px 24px 0;
                border-color: transparent hsl(36, 20%, 70%);
            }
        }

        > li.next {
            margin-left: 1em;

            .name {
                right: 0;
                bottom: 0.33em;
            }
            .wedge {
                position: absolute;
                top: 0;
                right: -24px;
                border-style: solid;
                border-width: 24px 0 24px 24px;
                border-color: transparent hsl(36, 20%, 70%);
            }
        }

        > li {
            @include transition(background-color 0.2s linear);
            .wedge {
                @include transition(border-color 0.2s linear);
            }
            .eyeball-crop {
                @include transition(opacity 0.2s linear);
            }
        }
        > li:hover {
            background-color: hsl(36, 20%, 60%);
            .wedge {
                border-color: transparent hsl(36, 20%, 60%);
            }
            .eyeball-crop {
                opacity: 1;
            }
        }

        > li.-empty {
            background-color: hsl(36, 20%, 85%);
            .wedge {
                border-color: transparent hsl(36, 20%, 85%);
            }
        }
    }
}

#breadcrumbs {
    background: hsl(36, 20%, 95%);
    border-bottom: 1px solid #ddd;
    padding: 0.33em 2em;
    overflow-y: hidden;  // for cropped icons

    ol {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;

            & + li:before {
                content: " » ";
                padding: 0 0.33em;
            }
        }
    }

    // These are menu sprites; crop to an eyeball like with main sprites
    img {
        margin: -16px 0 -4px;
        vertical-align: middle;
    }
}

#body {
    margin: 1em 3em;

    > section {
        margin-bottom: 2em;
    }
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #222;
    padding: 0.33em;
    margin: 0 0 0.67em;

    background: url(http://veekun.com/dex/media/items/great-ball.png) hsl(225, 50%, 60%) right center no-repeat;
    background-size: auto 100%;
    border: 1px solid hsl(225, 50%, 50%);
    border-left-width: 3px;
    color: hsl(225, 50%, 95%);
    border-radius: 0 2em 2em 0;
    text-shadow: 1px 1px 1px hsl(225, 20%, 20%);

    box-shadow: 1px 1px 2px hsl(0, 0%, 50%);

    &:target {
        background-color: hsl(270, 50%, 60%);
        background-image: url(http://veekun.com/dex/media/items/master-ball.png);
        border-color: hsl(270, 50%, 50%);
        color: hsl(270, 20%, 95%);
        text-shadow: 1px 1px 1px hsl(270, 20%, 20%);
    }
}

h2 {
    font-size: 133%;
    font-weight: bold;
    margin-bottom: 0.75em;

    color: hsl(225, 50%, 60%);
    text-shadow: 1px 1px 1px hsl(225, 50%, 90%);
    // This makes for a light bottom border that fades downwards, keeping it
    // still visible but not obnoxious.  Cool.
    border-bottom: 1px solid hsl(225, 50%, 90%);
    box-shadow:
        0 3px 2px -2px hsl(225, 50%, 95%);

    > .postscript {
        font-size: 75%;   // restore to normal
        font-size: 1rem;  // if supported
        margin-left: 1em;

        text-shadow: none;
        color: #909090;
        font-weight: normal;
    }
}

// XXX split most of this into a mixin
a {
    color: hsl(225, 90%, 50%);
    text-decoration: none;
    @include transition(color linear 0.1s);

    &:visited {
        color: hsl(270, 90%, 50%);
    }
    &:hover,
    &:active {
        color: hsl(225, 90%, 25%);
    }
    &:hover {
        text-decoration: underline;
    }
}

section {
    margin-bottom: 1em;
}

section > header {
    margin-bottom: 1em;

    h1 {
        position: relative;
        z-index: 1;  // keep drop shadow above the doorhanger

        margin-bottom: 0;
    }

    h1 + .doorhanger {
        margin: 0 2em 0 1em;
        padding: 0.5em;
        border: 1px solid hsl(225, 50%, 80%);
        border-top: none;
        border-radius: 0 0 0.5em 0.5em;

        background: hsl(225, 50%, 90%);
    }
    h1:target + .doorhanger {
        border-color: hsl(270, 50%, 50%);
        background: hsl(270, 50%, 90%);
    }
}

#footer {
    margin-top: 2em;
    padding: 1em;
    background: hsl(30, 13%, 90%);
    color: hsl(30, 13%, 40%);
}

dt {
    color: hsl(36, 20%, 57%) !important;
}
