@media screen and (max-width: 960px) {
    body {
        background-image: url(/images/noise2.png);
        background-repeat: repeat;
    }

    #body {
        margin-left: 1em;
        margin-right: 1em;
    }

    h1 {
        margin: 0 -0.67em 0.67em;
        background-image: none;
        border-radius: 0;
        border-left: none;
        border-right: none;
    }

    // TODO this is not specific enough surely
    dl.horizontal {
        dt {
            width: 8em;
        }
        dd {
            margin-left: 8.5em;
        }
    }

}
