// Stuff common to various Pokédex pages
@import "archetype/lib/css3";

.page-portrait {
    height: 96px;
    width: 96px;
    padding: 6px;  // border radius plus box-shadow

    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #ddd;
}

.microbar {
    display: inline-block;
    height: 0.33em;
    width: 8em;
    margin: 0.5em;
    vertical-align: middle;
    background: hsl(0, 0%, 90%);

    > .microbar-bar {
        height: 100%;
        background: hsl(36, 30%, 70%);
    }
}

.eyeball-crop {
    display: inline-block;
    overflow: hidden;
    height: 48px;
    width: 96px;
    vertical-align: bottom;

    img {
        margin: -24px 0 -24px;
    }
}

.item-icon {
    vertical-align: middle;
}

.footprint {
    // Real size is 16×16, which is damn tiny
    @include pixel-scaling();
    height: 32px;
    width: 32px;
}

.missing-translation {
    font-size: 0.9em;
    margin: 0 0 1em;
    padding: 1em;

    border: 1px solid hsl(225, 30%, 80%);
    background: hsl(225, 30%, 90%);
}


////// PANELS
ul.pokemon-panels li {
    display: inline-block;
    position: relative;
    margin: 1em;
    vertical-align: top;

    min-width: 24em;
    max-width: 32em;
    width: 30%;

    min-height: 100px;  // sprite height + border

    text-align: left;

    p {
        margin: 0.5em 0.5em;
        line-height: 1.2;
    }

    .-sprite {
        display: block;
        position: absolute;
        overflow: hidden;
        z-index: 1;
        top: 0;
        left: 0;
        // size of B/W sprites
        height: 96px;
        width: 96px;
        line-height: 96px;
        border-radius: 48px;

        // overridden below
        background: #ececec;
        border: 2px solid #c0c0c0;

        > img {
            display: block;
            -moz-transform: scaleX(-1);
        }
    }

    .-header {
        font-size: 1.4em;
        line-height: 1.6;

        // extend the bar left half a sprite-bubble width
        margin-left: 50px;
        padding-left: 50px;
    }
    .-subheader {
        line-height: 1.6;
        padding-left: 0.33em;

        // extend the bar left half a sprite-bubble width
        margin-left: 50px;
        padding-left: 56px;  // plus a bit for some indent
    }
    .-body {
        margin-left: 100px;  // width of sprite + border
    }

    .-types {
        position: absolute;
        top: 0;
        right: 0.3em;  // matches line-height above
        left: auto;
        bottom: auto;

        > img {
            vertical-align: baseline;
        }
    }

    .-number {
        position: absolute;
        font-size: 0.8em;
        margin: 0;
        width: 3em;
        top: 0;
        left: 0;

        line-height: 1.5;
        font-family: monospace;
        text-align: center;
        color: #a0a0c0;;

        -moz-transform: rotate(-45deg);
        -moz-transform-origin: center bottom;
    }

    .-evostage {
        //position: absolute;
        //top: 2em;
        //right: 0;
        //margin: 0.5em;
        display: none;  // XXX
    }

    .-stats {
        var {
            font-family: inherit;
            font-style: inherit;
            color: #909090;
        }
    }
    .-statgrp {
        display: inline-block;
        width: 49%;
    }
}
dl.panel-stats {
    position: relative;
    padding: 0.33em 0;
    text-align: center;

    dt {
        float: none;
        margin: 0;

        position: absolute;
        margin-top: -2em;
        display: none;
        left: 50%;
        padding: 0.33em;
        border: 1px solid hsl(30, 40%, 70%);
        background: hsl(30, 40%, 90%);
    }
    dd {
        margin: 0;
        clear: none;

        width: 15%;
        display: inline-block;
    }
}

ul.pokemon-mini-panels {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.pokemon-mini-panels li {
    display: inline-block;

    a {
        display: block;
        position: relative;
        overflow: hidden;
        height: 4em;
        width: 10em;
        padding-bottom: 1.66em;  /* enough space for the name */
        margin: 0.33em;

        border: 2px solid rgb(224, 220, 209);
        background: rgb(240, 238, 233);

        box-shadow: 1px 1px 0px rgba(black, 0.33);

        color: #404040;
        text-decoration: none;
    }
    img.-sprite {
        display: block;
        position: absolute;
        z-index: 1;
        opacity: 0.7;
        top: -16px;
        right: -16px;

        @include transition(opacity 0.2s linear);
    }
    &:hover img.-sprite {
        opacity: 1;
    }
    .-name {
        display: block;
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.33em 0.5em;
        background: rgb(224, 220, 209);

        @include transition(color 0.2s linear);
    }
    &:hover .-name {
        color: rgb(61, 56, 40);
        text-decoration: underline;
    }
    .-info {
        font-size: 0.75em;
        padding: 0.5em;
        line-height: 1.2;
    }
}

@mixin panel-colors($hue, $saturation: 50%) {
    $pale: hsl($hue, $saturation, 93%);
    $medium: hsl($hue, $saturation, 85%);
    $text: hsl($hue, $saturation, 40%);
    $dark-text: hsl($hue, $saturation, 20%);

    .pokemon-panels & {
        .-sprite {
            background-color: $pale;
            border-color: $medium;
        }
        .-header {
            background-color: $medium;

            a {
                color: $text;
                &:hover {
                    color: $dark-text;
                }
            }
        }
        .-subheader {
            background-color: $pale;
            color: hsl($hue, $saturation * 0.8, 40%);
        }
    }

    .pokemon-mini-panels & {
        a {
            color: $text;
            border-color: $medium;
            background-color: $pale;
        }
        .-name {
            background-color: $medium;
        }
        :hover .-name {
            color: $dark-text;
        }
    }
}
.panel-grass {
    @include panel-colors(120);
}
.panel-fire {
    @include panel-colors(20);
}
.panel-ground {
    @include panel-colors(30, 40%);
}
.panel-poison {
    @include panel-colors(290);
}
.panel-electric {
    @include panel-colors(45);
}
.panel-water {
    @include panel-colors(230);
}
.panel-rock {
    @include panel-colors(15, 20%);
}
.panel-flying {
    @include panel-colors(255);
}
.panel-ice {
    @include panel-colors(180);
}
.panel-normal {
    @include panel-colors(45, 20%);
}
.panel-bug {
    @include panel-colors(75);
}
.panel-ghost {
    @include panel-colors(285, 30%);
}
.panel-fighting {
    @include panel-colors(0);
}
.panel-dragon {
    @include panel-colors(270);
}
.panel-psychic {
    @include panel-colors(300);
}
.panel-dark {
    @include panel-colors(0, 30%);
}
.panel-steel {
    @include panel-colors(225, 20%);
}

////// BROWSE STUFF -- TODO maybe put elsewhere
.browse-pill {
    display: inline-block;
    margin: 0 0.25em 0.25em;
    border-radius: 1px;
    line-height: 1;


    border: 1px solid transparent;

    color: inherit;

    label& {
        input {
            margin: 0 0.25em;
            vertical-align: middle;
        }
        // XXX this is dumb
        > span {
            display: inline-block;
            padding: 0 0.5em;
            line-height: 1.5;
            vertical-align: middle;
        }
    }

    &:hover {
        cursor: pointer;

        background: hsl(225, 60%, 95%);
        border-color: hsl(225, 60%, 90%);
    }

    &.selected {
        background: hsl(215, 30%, 83%);
        border-color: hsl(215, 30%, 83%);

        > span {
            background: hsl(225, 60%, 93%);
        }



        background: hsl(225, 60%, 90%);
        border-color: hsl(225, 60%, 90%);

        > span {
            background: hsl(225, 60%, 95%);
        }
    }
}
.browse-pill.browse-pill-radio {
    border-radius: 1em;

    > span {
        border-radius: 0 1em 1em 0;
    }
}



xxx.browse-filter-criterion {
    padding: 1em;
    margin: 1em 0;
    border-top: 2px solid hsl(30, 20%, 83%);
    border-left: 1px solid hsl(30, 20%, 83%);

    > h3 {
        font-size: 1.33em;
        padding: 0 0.25em;
        margin: -0.75em -0.75em 0.75em;
        background: hsl(30, 20%, 95%);
        color: hsl(30, 20%, 62%);
    }
}
.browse-filter-criterion {
    margin: 0.5em 0;
    padding: 0.5em;

    background: hsl(0%, 0%, 93%);
    border: 1px solid hsl(0%, 0%, 90%);
}
.browse-filter-options {
    margin: 0;
    padding: 0;
}
.browse-filter-options > li {
    display: inline-block;
}


////// TABLES
table.table-pretty {
    // Very similar to archetype's .table
    @include box-sizing(border-box);
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
        padding: 0.5em;
    }

    > tbody, > thead, > tfoot {
        tr {
            border-top: 1px solid $border-color;
        }

        &:first-child tr:first-child {
            border-top: none;
        }
    }

    th {
        font-weight: normal;
    }

    // TODO this doesn't do nested tables very well, but >tbody breaks thead
    tr {
        border-bottom: 1px solid hsl(0, 0%, 93%);

        &:nth-child(2n) {
            background: hsl(0, 0%, 96%);
            background: hsla(0, 0%, 50%, 0.06);
        }
        &:hover {
            background: hsl(210, 50%, 92%);
            background: hsla(210, 50%, 86%, 0.50);
        }

        &.header {
            background-color: hsl(36, 30%, 70%);
            background-image: -moz-linear-gradient(top, hsl(36, 30%, 90%), hsl(36, 30%, 80%));
            border-top: 1px solid hsl(36, 30%, 75%);
        }
        &.subheader {
            background: hsl(36, 30%, 93%);
            border: 1px solid hsl(36, 30%, 90%);
            border-width: 1px 0;
        }
        &.header + .subheader {
            border-top: none;
        }

        &:last-child {
            border-bottom: 1px solid hsl(36, 30%, 75%);
        }
    }
}
table.table-pretty.table-striped-bodies {

    tbody {
        tr {
            &:nth-child(2n) {
                background: transparent;
            }
        }
    }

    tbody:nth-child(2n) {
            background: hsl(0, 0%, 96%);
            background: hsla(0, 0%, 50%, 0.06);

    }

}

col.-version {
    width: 4em;
}


////// DETAILS
details.xxx-search-groups {
    margin: 0.5em 0;

    > summary {
        position: relative;
        display: block;
        font-size: 1.33em;
        padding: 0.4em;

        // TODO put elsewhere
        ul.browse-examples {
            overflow: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                vertical-align: bottom;
                opacity: 0.2;

                &:first-child {
                    opacity: 0.6;
                }
                &:nth-child(2) {
                    opacity: 0.4;
                }
            }

            .eyeball-crop {
                display: block;
            }
        }
    }
}


////// VERSIONS
[class^='version-'],
[class*=' version-'] {
    display: inline-block;
    line-height: 1;
    font-family: monospace;
    font-weight: bold;

    text-shadow:
        -1px -1px 1px white,
         1px -1px 1px white,
        -1px  1px 1px white,
         1px  1px 1px white;

    // override me!  used for generations
    color: #404040;
}
// Gen 1
.version-red {
    color: hsl(0, 100%, 40%);
}
.version-blue {
    color: hsl(240, 100%, 40%);
}
.version-yellow {
    color: hsl(60, 100%, 40%);
}
// Gen 2
.version-gold {
    color: hsl(60, 100%, 40%);
}
.version-silver {
    color: hsl(0, 0%, 40%);
}
.version-crystal {
    color: hsl(240, 100%, 70%);
}
// Gen 3
.version-ruby {
    color: hsl(0, 90%, 60%);
}
.version-sapphire {
    color: hsl(240, 90%, 60%);
}
.version-emerald {
    color: hsl(120, 90%, 40%);
}
.version-firered {
    color: hsl(0, 100%, 40%);
}
.version-leafgreen {
    color: hsl(120, 100%, 30%);
}
// Gen 4
.version-diamond {
    color: hsl(240, 90%, 80%);
}
.version-pearl {
    color: hsl(0, 90%, 80%);
}
.version-platinum {
    color: hsl(0, 0%, 70%);
}
.version-heartgold {
    color: hsl(60, 100%, 30%);
}
.version-soulsilver {
    color: hsl(0, 0%, 40%);
}
// Gen 5
.version-black {
    color: #404040;
}
.version-white {
    color: #c0c0c0;
}
.version-black-2 {
    color: #404040;
}
.version-white-2 {
    color: #c0c0c0;
}
// Other
.version-colosseum {
    color: hsl(270, 50%, 50%);
}
.version-xd {
    color: hsl(270, 50%, 50%);
}


// XXX this is gross ok
// Type icons should align their own text approximately to the baseline
img[src*="types/"] {
    vertical-align: -3px;
}


////// GENDER
.gender-container {
    position: relative;
    width: 12em;

    > .-male {
        display: block;
        float: left;
    }
    > .-female {
        display: block;
        float: right;
    }

    > .gender-bar {
        clear: both;
    }
}

@mixin gender-background($boy-pct) {
    $boy: hsl(225, 60%, 75%);
    $girl: hsl(0, 60%, 75%);

    background-image: -moz-linear-gradient(left, $boy, $boy $boy-pct, $girl $boy-pct, $girl);
}
.gender-bar {
    height: 0.33em;
    text-align: center;
    border-radius: 1px;
    background: #ddd;

    &[data-male="7"] {
        @include gender-background(100% * 7/8);
    }
}


////// ENCOUNTERS -- TODO probably lives elsewhere, TODO merge with evo chart

table.encounter-strip {
    table-layout: auto;

    th {
        font-size: 0.9em;
        padding: 0.33em;
        text-align: left;
    }
    th.-rarity-common {
        color: hsl(120, 40%, 40%);
        background: hsl(120, 40%, 80%);
    }
    th.-rarity-rare {
        color: hsl(0, 40%, 40%);
        background: hsl(0, 40%, 80%);
    }

    td.-rarity-common {
        border-top: 2px solid hsl(120, 40%, 80%);
    }
    td.-rarity-rare {
        border-top: 2px solid hsl(0, 40%, 80%);
    }

    td {
        > .td-absolute-wrapper {
            min-height: 24px !important;
            -moz-box-sizing: border-box;
            padding: 0 !important;
        }
    }
    .-sprite-wrapper {
        height: 24px !important;

        img {
            margin: -32px -16px -40px 0 !important;
        }
    }
    p {
        margin: 0;
        font-size: 0.8em !important;
    }
}

table.pokemon-encounter-table {
    table-layout: fixed;

    col.-col-version {
        width: 12em;
    }

    th.encounter-pokemon {
        overflow: hidden;
        min-height: 24px;
        padding: 0;

        text-align: left;

        a {
            position: relative;
            z-index: 1;
            font-size: 1.2em;
        }

        > .td-absolute-wrapper {
            padding: 0.33em;
        }
        .cell-sprite-peek {
            position: absolute;
            height: 48px;
            width: 80px;
            right: 0;
            top: 0;

            img {
                margin: -24px -16px -24px 0;
                opacity: 0.6;
                @include transition(opacity linear 0.2s);
            }
        }
    }

    h4 {
        position: relative;
        z-index: 1;
        color: black;
        font-weight: normal;
        text-shadow:
            1px 1px  1px white,
            1px -1px  1px white,
            -1px 1px  1px white,
            -1px -1px  1px white;
    }

    .rarity {
        font-size: 1.33em;
        //width: 3em;
        text-align: right;
        vertical-align: middle;
    }
    .rarity-vermin {
        color: hsl(225, 40%, 40%);
    }
    .rarity-common {
        color: hsl(120, 40%, 40%);
    }
    .rarity-uncommon {
        color: hsl(30, 40%, 40%);
    }
    .rarity-rare {
        color: hsl(0, 40%, 40%);
    }

    .-level-range {
        line-height: 133%;
        vertical-align: middle;
        color: hsl(36, 0%, 60%);
    }

    tr:hover {
        .cell-sprite-peek img {
            opacity: 1;
        }
    }
}
